body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 2em;
}

h2 {
    font-family: ui-rounded;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #16a085;
    padding: 10px 0px;
    margin-bottom: 0;
}

button {
    font-family: cursive;
    border-radius: 9px;
    padding: 6px 7px;
    margin-left: -7px;
    background-color: #16a085;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 800px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.header {
    background-color: #16a085;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #16a085;
    color: #fff;
    padding: 10px 0px;
}

tr:hover {
    background-color: rgba(134, 62, 234, 0.8);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}